<div class="footer">
  <div class="well">
  <p>Derechos reservados</p>
  <p><span class="glyphicon glyphicon-bishop"></span>&nbsp;Nicol&aacute;s Serrano P&eacute;rez |
    <span class="glyphicon glyphicon-knight"></span>&nbsp;Cristian David &Aacute;lvarez Hurtado |
    <span class="glyphicon glyphicon-knight"></span>&nbsp;Andr&eacute;s Mauricio Tuberquia |
    <span class="glyphicon glyphicon-tower"></span>&nbsp;Cristian Guti&eacute;rrez Gonz&aacute;lez |
    <span class="glyphicon glyphicon-queen"></span>&nbsp;Viviana Saldarriaga G&oacute;mez
  </p>
  </div>
</div>
