<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <img src="/images/logo350px_complete.png">
    </div>
  </div>
<form name="$ctrl.searchForm">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label class="control-label">Buscar Documento</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
          </span>
          <input type="text" class="form-control" ng-model="$ctrl.searchBox" name="searchBox" required>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="$ctrl.search()">Buscar</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" value="title" ng-model="$ctrl.radio" checked="">
                T&iacute;tulo
              </label>
              &nbsp;&nbsp;&nbsp;
              <label>
                <input type="radio" name="optionsRadios" value="abstract" ng-model="$ctrl.radio">
                Abstract
              </label>
              &nbsp;&nbsp;&nbsp;
              <label>
                <input type="radio" name="optionsRadios"  value="label" ng-model="$ctrl.radio">
                Label
              </label>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>
  <br><br>
  <div class="row" ng-if="$ctrl.searched">
    <div class="col-md-12">
      <table class="table table-striped table-hover ">
        <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>T&iacute;tulo</th>
          <th>Usuario</th>
          <th>Abstract</th>
          <th>Label</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="record in $ctrl.tableData">
            <td ng-bind="record.id"></td>
            <td><span class="text-warning" ng-bind="record.createdAt | date:'mediumDate'"></span></td>
            <td ng-bind="record.title"></td>
            <td><span class="label label-info" ng-bind="record.idUser.userName"></span></td>
            <td ng-bind="record.abstract"></td>
            <td ng-bind="record.label"></td>
            <td><span
                class="btn btn-default"
                ng-click="$ctrl.seePackage(record)"
                data-target="#myModal"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;
                        Ver Adjuntos </span></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <modal-component package="$ctrl.actualPackageToModal"></modal-component>


</div>
