<div class="container">
  <h1>Subir Documentos</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- Form-->
      <form name="$ctrl.uploadForm">
        <fieldset>
          <legend>Informaci&oacute;n del paquete</legend>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group" ng-class="{'has-error' : $ctrl.uploadForm.title.$invalid && $ctrl.uploadForm.title.$touched}">
                <label for="inputTitle" class="col-lg-2 control-label">T&iacute;tulo del paquete</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputTitle" placeholder="Title"
                         name="title"
                         ng-model="$ctrl.formModels.title"
                         required
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" ng-class="{'has-error' : $ctrl.uploadForm.user.$invalid, 'has-success' : $ctrl.uploadForm.user.$valid}">
                <label for="inputUser" class="col-lg-2 control-label">Usuario</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputUser" placeholder="Usuario"
                         name="user"
                         ng-model="$ctrl.formModels.user"
                         readonly
                         required
                         >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" ng-class="{'has-error' : $ctrl.uploadForm.abstract.$invalid && $ctrl.uploadForm.abstract.$touched}">
                <label for="inputAbstract" class="col-lg-2 control-label">Abstract</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputAbstract" placeholder="Abstract"
                         name="abstract"
                         ng-model="$ctrl.formModels.abstract"
                         required
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" ng-class="{'has-error' : $ctrl.uploadForm.label.$invalid && $ctrl.uploadForm.label.$touched}">
                <label for="inputLabel" class="col-lg-2 control-label">Label</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputLabel" placeholder="Labels separados por espacios"
                         name="label"
                         ng-model="$ctrl.formModels.label"
                         required
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" ng-class="{'has-error' : $ctrl.uploadForm.description.$invalid && $ctrl.uploadForm.description.$touched}">
                <label for="inputDescription" class="col-lg-2 control-label">Descripci&oacute;n</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputDescription" placeholder="Descripci&oacute;n"
                         name="description"
                         ng-model="$ctrl.formModels.description"
                         required
                  >
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-default"
                      ng-click="$ctrl.uploadForm.$valid && $ctrl.addPackage()"
              >
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;Crear Paquete</button>
              <button type="button" class="btn btn-success"
                      ng-click="$ctrl.addDocument()"
                      ng-if="$ctrl.created"
              >
                <span class="glyphicon glyphicon-send"></span>&nbsp;Agregar documento</button>
            </div>
          </div>

        </fieldset>
      </form>


    </div>

  </div>
</div>

</div>

<modal-create-component package="$ctrl.actualPackageToModal"></modal-create-component>
