<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <img src="/images/logo350px_complete.png">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label class="control-label">Buscar Documento</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
          </span>
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Button</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <h6 >&nbsp;</h6>
      <div class="col-md-4">
        <center>
          <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
          <br>
          <h4 class="footertext">Programador</h4>
          <p class="footertext">Viviana Cadavid | Cristian Guti&eacute;rrez</p>
        </center>
      </div>
      <div class="col-md-4">
        <center>
          <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
          <br>
          <h4 class="footertext">Artista</h4>
          <p class="footertext">Nicol&aacute;s Bernal | Andr&eacute;s Betancur<br>
        </center>
      </div>
      <div class="col-md-4">
        <center>
          <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
          <br>
          <h4 class="footertext">Dise&ntilde;ador</h4>
          <p class="footertext">El otro muchacho | Cristian Guti&eacute;rrez<br>
        </center>
      </div>
    </div>
  </div>
</div>
